.layout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 15vh);
  margin: 0 3vw;
}

.grid-1 {
  grid-column: span 2 / span 2;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: rem;
  border-bottom: 1px solid #94a3b8;
}

.grid-2 {
  grid-row-start: 2;
}

.grid-3 {
  grid-row-start: 2;
}

select {
  outline: none;
  border-radius: 2em;
  background: #f4f2f2;
  padding: 0.5rem;
  margin: 0.5rem;
  transition: 0.4s;
  border: none;
}

select:hover,
select:focus {
  background: #f0eeee;
}

.tab {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin-top: 2vw;
  padding: 2vh 6vw;
}

.search {
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  margin-top: 2vh;
  padding: 2vh 6vw;
}

.search h2 {
  margin-bottom: 2vh;
}

.search__input {
  font-family: inherit;
  font-size: 1rem;
  background-color: #f4f2f2;
  border: none;
  color: #646464;
  padding: 0.7rem 2rem;
  border-radius: 30px;
  width: 30em;
  margin-top: 3.5vh;
  transition: 0.4s;
}

.search__input:hover,
.search__input:focus {
  outline: none;
  background-color: #f0eeee;
}

.body {
  height: 5rem;
}

.search__button {
  border: none;
  background-color: rgb(101, 15, 206);
  color: #f0eeee;
  margin-top: 2vw;
  border-radius: 30px;
  width: 15vh;
  height: 5vh;
}

.note-card {
  margin: 3vh 5vw;
  padding: 4vh 2.5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 30px;
  background-color: #f4f2f2;
}

.note-card:hover,
.note-card:focus {
  transition: 0.4s;
  background-color: #f0eeee;
}

.note-card__details {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.note-card__body {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.date {
  font-size: small;
  color: rgb(112, 110, 110);
}

.icon-trash:hover,
.icon-trash:focus {
  transition: 0.4s;
  filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg)
    brightness(104%) contrast(97%);
}
